* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  border: #61dafb solid 2px;
  pointer-events: none;
}

.App-text {
  position: relative;
  top: 45%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-input {
  margin-top: 100px;
}

.App-input input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 0 4px;
}

.App-copy {
  margin-top: 10px;
}

.App-copy textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 0 4px;
}

.App-link {
  color: #61dafb;
}